<html>
    <head>
        <title></title>
		<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
		<link rel="stylesheet" href="/static/dashboard.css">
    </head>
    <body>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="/doctors/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/statistics/">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
              </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
		{% block body %} {% endblock %}
    </body>
</html>