<html>
    <head>
        <title>
            
        </title>
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <link rel="stylesheet" href="/static/home.css">       
    </head>
    <body style="text-align: center;">
        <!-- <img src="" alt=""> -->
        <!-- <div class="imagecontainer"> -->
            <h1 style="margin-left:auto; margin-right:auto; margin-top:5%;">Find your Doctor</h1>
            <br><br><br>  
            <div class="text-center">
                <a class="btn btn-primary" href="/signup/" role="button">Sign Up</a>
                <a class="btn btn-primary" href="/signin/" role="button">Sign In</a>
            </div>
        <!-- </div> -->
    </body>
</html>

